<div>
    <h3>CONTACT</h3>
    <p>Lets get in touch. Send us a message:</p>
    <div>
        <br>
        <form autocomplete="off" action="mailto:isaiah.t.jacobsen@gmail.com?subject=Getting%20In%20Touch" target="blank"
        enctype="text/plain" method="POST">
        <p><input type="text" placeholder="Name" required name="Name"></p>
        <p><input type="email" placeholder="Email" required name="Email"></p>
        <p><input type="text" placeholder="Subject" required name="Subject"></p>
        <p><textarea placeholder="Message" required name="Message"
            style="resize: vertical; max-height: 200px; min-height: 45px;"></textarea></p>
            <p>
                <button type="submit">
                    SEND MESSAGE
                </button>
            </p>
            <p>Contact form created by <a href="https://hosish-games.gitlab.io/hosish-games/index.html" target="blank">Hosish Games</p>
            </form>
        </div>
        
        <style>
            input {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            
            textarea {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            
            div {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        </style>
    </div>
    